$mobile-max-width: 750rpx;

page {
  box-sizing: border-box;
  width: 100%;
  max-width: $mobile-max-width;
  margin: 0 auto;
  /* stylelint-disable-next-line declaration-property-value-no-unknown */
  font-size: 28rpx;
  color: var(--fui-text-base);
  background-color: var(--fui-background-base);
}

/* #ifdef H5 */
body {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  margin: 0;
  color: var(--fui-text-base);
  background-color: var(--fui-background-secondary);
}

body[data-theme='dark'] {
  background-color: var(--fui-background-base);
}

#app {
  display: block;
  width: 100%;
  max-width: $mobile-max-width;
  min-height: 100vh;
  margin: 0 auto;
}

/* stylelint-disable-next-line selector-type-no-unknown */
uni-app {
  display: block;
  width: 100%;
  max-width: $mobile-max-width;
  min-height: inherit;
  margin: 0 auto;
}

.uni-page,
.uni-page-wrapper,
.uni-page-body,
.uni-page-refresh,
.uni-page-scroll-view {
  width: 100%;
  max-width: $mobile-max-width;
  margin: 0 auto;
}

.uni-page-head {
  right: auto !important;
  left: 50% !important;
  width: 100%;
  max-width: $mobile-max-width;
  overflow: hidden;
  transform: translateX(-50%);
}

/* #endif */
