@use 'sass:map';
@use '../../styles/design' as *;

$popup: () !default;
$popup: map.merge(
  (
    bg-color: get-css-var('surface', 'base'),
  ),
  $popup
);

.#{$namespace}-popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;

  &--var {
    @include define-preset-values('popup', $popup);
  }

  &--top,
  &--bottom,
  &--left,
  &--right,
  &--center {
    pointer-events: auto;
  }
}

.#{$namespace}-popup__content {
  position: fixed;
  background: get-css-var('popup', 'bg-color');
  box-sizing: border-box;
  max-height: 100%;
  overflow-y: auto;

  &--top {
    top: 0;
    left: 0;
    right: 0;
  }

  &--bottom {
    bottom: 0;
    left: 0;
    right: 0;
  }

  &--left {
    top: 0;
    left: 0;
    bottom: 0;
  }

  &--right {
    top: 0;
    right: 0;
    bottom: 0;
  }

  &--center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 90%;
  }

  &--safe-bottom {
    padding-bottom: constant(safe-area-inset-bottom);
    padding-bottom: env(safe-area-inset-bottom);
  }

  &--safe-top {
    padding-top: constant(safe-area-inset-top);
    padding-top: env(safe-area-inset-top);
  }
}
