@use 'sass:map';
@use '../../styles/design' as *;

// Tabs 组件变量
$tabs: () !default;
$tabs: map.merge(
  (
    bg-color: get-css-var('surface', 'base'),
    item-padding: 24rpx 32rpx,
    item-font-size: 28rpx,
    item-color: get-css-var('text', 'secondary'),
    item-color-active: get-css-var('text', 'base'),
    gap: 8rpx,
    line-height: 4rpx,
    line-width: 40rpx,
    line-color: get-base-color-var('primary'),
    line-radius: 4rpx,
  ),
  $tabs
);

.#{$namespace}-tabs {
  position: relative;
  background: get-css-var('tabs', 'bg-color');

  &--var {
    @include define-preset-values('tabs', $tabs);
  }

  &--sticky {
    position: sticky;
    top: 0;
    z-index: 99;
  }
}

.#{$namespace}-tabs__scroll {
  width: 100%;
  white-space: nowrap;
}

.#{$namespace}-tabs__list {
  position: relative;
  display: inline-flex;
  align-items: center;
  min-width: 100%;
}

.#{$namespace}-tabs--scrollable {
  .#{$namespace}-tabs__list {
    min-width: auto;
  }
}

.#{$namespace}-tabs__item {
  position: relative;
  flex-shrink: 0;
  padding: get-css-var('tabs', 'item-padding');
  cursor: pointer;
  user-select: none;

  &--active {
    .#{$namespace}-tabs__item-text {
      font-weight: 600;
      color: get-css-var('tabs', 'item-color-active');
    }
  }

  &--disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &--flex {
    flex: 1;
  }
}

.#{$namespace}-tabs__item-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: get-css-var('tabs', 'gap');
}

.#{$namespace}-tabs__item-text {
  font-size: get-css-var('tabs', 'item-font-size');
  line-height: 1.5;
  white-space: nowrap;
  color: get-css-var('tabs', 'item-color');
  transition: color 180ms cubic-bezier(0.2, 0, 0, 1);
}

.#{$namespace}-tabs__line {
  position: absolute;
  bottom: 0;
  height: get-css-var('tabs', 'line-height');
  background: get-css-var('tabs', 'line-color');
  border-radius: get-css-var('tabs', 'line-radius');
  transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
